{% extends 'base.html' %}
{% load static %}

{% block titulo%}Login{% endblock %}

{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card" style="width: 500px;">
        <img src="https://picsum.photos/500/150" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ingreso de Usuario</h5>
          <p class="card-text">Ingrese sus credenciales</p>
          <form method="post">
            {% csrf_token %}
            <div class="container">
              <div class="row">
                <div class="col-12 form-group">
                  {{ form.usuario.label }}
                  {{ form.usuario }}
                </div>
                <div class="col-12 form-group">
                  {{ form.password.label }}
                  {{ form.password }}
                </div>
                {% if form.errors %}
                <div class="col-12 mt-2">
                  <div class="alert alert-danger" role="alert">
                    Usuario no válido
                  </div>
                </div>
                {% endif %}
                <div class="col-12 form-group mt-2">
                  <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}