{% extends "base.html" %}
{% load static %}

{% block titulo %}
<h1>Formulario de Contacto</h1>
{% endblock %}
{% block contenido %}

  <form method="post" action="/formulariocontacto" onsubmit="return validarFormulario()">
    {% csrf_token %}
    <div class="content">
      <div class="row">

        {% for campo in formulario %}
          <div class="
            {% if campo.name == "nombre" or campo.name == "apellido" %}
              col-5
            {% elif campo.name == "edad" %}
              col-2
            {% else %}
              col-12
            {% endif %}
          form-group">
            <label for="edad" class="form-label">{{ campo.label }}</label>
            {{ campo }}
            {{ campo.errors }}
          </div>
        {% endfor %}

      </div>
      <div class="row">
        <div class="col-12 form-group">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block javascript %}
<script>
  function validarFormulario()  {
    return false;
  }
</script>
{% endblock %}
